@tailwind base;
@tailwind components;
@tailwind utilities;

/* إخفاء شريط التمرير */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* تأكد من أن السلوك ناعم */
* {
  scroll-behavior: smooth;
}